@use "../../utils/" as *;
.blogs {
  .blog-posts {
    img {
      width: 100%;
    }
  }
  .post-main {
    width: 70%;
  }
}

.blog-main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: $s_3;
  @include mq("md") {
    display: none;
  }
  .blog-posts {
    @include d_flex();
    row-gap: $s_2;

    &:first-child {
      grid-column: 1 span;
      grid-row: 3 span;
      @include d_flex();
      img {
        width: 100% !important;
        height: 478px !important;
      }
      .blog-cards {
        @include d_flex($dir: column);
        border: 0;
      }
      .paragraph {
        -webkit-line-clamp: 3;
      }
      .postmeta {
        border-bottom: $b_3 !important;
      }
      .blog-detail {
        width: 100% !important;
      }
    }

    &:last-child {
      .blog-cards {
        border: 0;
      }
    }

    .blog-cards {
      @include d_flex($a_i: center);
      border-bottom: $b_3;
      padding: $s_5 0;

      img {
        width: 40%;
        height: 190px;
      }
      .blog-detail {
        width: 59%;
        padding-right: $s_3;

        html[lang="en-US"] body {
          .blog-detail {
            padding-left: $s_3;
          }
        }

        @include d_flex(column, $gap: $s_2);
        h5 {
          color: $clr_text_dark;
          transition: all 0.4s ease-in;
        }
      }
      .postmeta {
        border: 0;
        width: 100%;
        .postmeta-r {
          @include d_flex(row, $gap: $s_6);
        }
      }
    }
    .blog-detail {
      &:hover {
        h5 {
          color: $clr_secondary_dark;
        }
      }
    }
  }
}

.blogs-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(px_to_rem(352), 1fr));
  gap: $s_3;
  .post-thumbnail {
    img {
      object-fit: cover;
      width: 100%;
      max-height: px_to_rem(240);
    }
  }
}
.best-blog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(px_to_rem(352), 1fr));
  gap: $s_3;
  .post-detail {
    flex: 1;
    > h5 {
      @include max_line(2);
    }
  }
  .post-thumbnail {
    @include d_flex(row, center, center);
    img {
      width: 100%;
      object-fit: cover;
      max-height: px_to_rem(240);
    }
  }
  .blog-posts {
    &:hover {
      .post-detail {
        h5 {
          color: $clr_secondary_dark;
        }
      }
    }
    h5 {
      transition: all 0.3s ease-in;

      color: $clr_text_dark;
      padding-top: $s_2;
    }
    blogs-1 {
      @include d_flex();
    }
  }

  @include mq("md") {
    display: block !important;
    .blog-posts {
      @include d_flex($a_i: center, $gap: $s_2, $wrap: nowrap);
      padding: $s_1;
      .postmeta {
        border-bottom: none;
        @include fs("caption");
      }
      .post-thumbnail {
        width: 35%;
      }
      img {
        width: 100%;
        max-height: px_to_rem(120);
        object-fit: contain;
      }
      .post-detail {
        color: $clr_text_dark;
        .paragraph {
          display: none;
        }
      }
    }
  }
  @include mq("sm") {
    .blog-posts {
      .post-thumbnail {
        width: 40%;
      }
    }
  }
}
