@use "../../utils/" as *;
.card-job-offer {
  border: 1px solid $clr_natural_5;
  padding: $s_3;
  @include d_flex(row, space-between, center, nowrap, true, $s_2);
  .job-offer-thumbnail {
    @include d_flex(row, center, center, nowrap);

    img {
      max-height: px_to_rem(192);

      width: 100%;
      object-fit: cover;
      @include mq("sm") {
        max-height: px_to_rem(148);
      }
    }
  }
  .job-detail {
    .h5 {
      color: $clr_primary_dark;
    }
    .job-description {
      @include max_line(3);
      margin-bottom: $s_3;
      @include mq("sm") {
        @include max_line(2);
      }
    }
  }
}
