@use "../../utils/" as *;
div.my-order {
  @include d_flex(row, space-between, flex-start, nowrap, false, $s_5);
  padding: $s_6;

  h3 {
    width: 100%;
    @include fs("h3");
    color: $clr_primary_dark;
  }
  .orders {
    width: 60%;
    @include mq("lg") {
      width: 55%;
    }
    @include mq("md") {
      width: 100%;
    }
  }
  .order-card {
    @include d_flex($a_i: center, $gap: $s_3, $wrap: nowrap);
    border-bottom: $b_3;
    padding: $s_6 0;
    &:last-child {
      border: 0;
    }
    .order-thumbnail {
      width: 30%;
      img {
        width: 100%;
        object-fit: contain;
        @include mq("md") {
          width: 100%;
          height: 241px;
        }
      }
      @include mq("md") {
        width: 100%;
        img {
          width: 100%;
          height: 241px;
        }
      }
    }
    @include mq("md") {
      flex-direction: column;
      border: 0;
    }

    .odrer-title p {
      @include fs("caption");
      color: rgba(64, 64, 64, 0.4);
    }
    h5 {
      color: $clr_primary_dark;
    }
    .order-box {
      width: 65%;
      @include mq("md") {
        width: 100%;
      }

      .order-details-row {
        @include d_flex(row, space-between, center, nowrap, false, $s_5);

        padding: $s_2;
        span.order-date {
          @include fs("caption");
        }
        .status {
          @include fs("caption");
          padding: $s-2;
          border-radius: $r_1;
        }
        .send {
          color: $clr_success_dark;
          background: rgba(66, 234, 83, 0.12);
        }
        .awaiting {
          color: $clr_error_main;
          background: rgba(255, 152, 0, 0.2);
        }
      }
    }
  }
  .order-tempnail {
    flex: 1;
    @include d_flex(row, center, center, nowrap);
    position: -webkit-sticky;
    position: sticky;
    top: px_to_rem(32);
    img {
      object-fit: contain;
      max-width: px_to_rem(288);

      @include mq("md") {
        max-width: px_to_rem(256);
      }
    }
  }
  @include mq("md") {
    flex-direction: column-reverse;

    padding: $s_3;
    .order-tempnail {
      width: 100%;
      position: initial;
    }
  }
}
