@font-face {
  font-family: "Yekan Bakh";
  src: url("../fonts/yekan-bakh/woff2/YekanBakhFaNum-Thin.woff2");
  src: url("../fonts/yekan-bakh/TTF/YekanBakhFaNum-Thin.ttf") format("truetype"),
    url("../fonts/yekan-bakh/woff/YekanBakhFaNum-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../fonts/yekan-bakh/woff2/YekanBakhFaNum-Light.woff2");
  src: url("../fonts/yekan-bakh/TTF/YekanBakhFaNum-Light.ttf")
      format("truetype"),
    url("../fonts/yekan-bakh/woff/YekanBakhFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../fonts/yekan-bakh/woff2/YekanBakhFaNum-Regular.woff2");
  src: url("../fonts/yekan-bakh/TTF/YekanBakhFaNum-Regular.ttf")
      format("truetype"),
    url("../fonts/yekan-bakh/woff/YekanBakhFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../fonts/yekan-bakh/woff2/YekanBakhFaNum-Medium.woff2");
  src: url("../fonts/yekan-bakh/TTF/YekanBakhFaNum-Medium.ttf")
      format("truetype"),
    url("../fonts/yekan-bakh/woff/YekanBakhFaNum-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../fonts/yekan-bakh/woff2/YekanBakhFaNum-SemiBold.woff2");
  src: url("../fonts/yekan-bakh/TTF/YekanBakhFaNum-SemiBold.ttf")
      format("truetype"),
    url("../fonts/yekan-bakh/woff/YekanBakhFaNum-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../fonts/yekan-bakh/woff2/YekanBakhFaNum-Bold.woff2");
  src: url("../fonts/yekan-bakh/TTF/YekanBakhFaNum-Bold.ttf") format("truetype"),
    url("../fonts/yekan-bakh/woff/YekanBakhFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../fonts/yekan-bakh/woff2/YekanBakhFaNum-ExtraBold.woff2");
  src: url("../fonts/yekan-bakh/TTF/YekanBakhFaNum-ExtraBold.ttf")
      format("truetype"),
    url("../fonts/yekan-bakh/woff/YekanBakhFaNum-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../fonts/yekan-bakh/woff2/YekanBakhFaNum-Black.woff2");
  src: url("../fonts/yekan-bakh/TTF/YekanBakhFaNum-Black.ttf")
      format("truetype"),
    url("../fonts/yekan-bakh/woff/YekanBakhFaNum-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/woff2/Poppins-Thin.woff2");
  src: url("../fonts/poppins/TTF/Poppins-Thin.ttf") format("truetype"),
    url("../fonts/poppins/woff/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/woff2/Poppins-ExtraLight.woff2");
  src: url("../fonts/poppins/TTF/Poppins-ExtraLight.ttf") format("truetype"),
    url("../fonts/poppins/woff/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/woff2/Poppins-Light.woff2");
  src: url("../fonts/poppins/TTF/Poppins-Light.ttf") format("truetype"),
    url("../fonts/poppins/woff/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/woff2/Poppins-Regular.woff2");
  src: url("../fonts/poppins/TTF/Poppins-Regular.ttf") format("truetype"),
    url("../fonts/poppins/woff/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/woff2/Poppins-Medium.woff2");
  src: url("../fonts/poppins/TTF/Poppins-Medium.ttf") format("truetype"),
    url("../fonts/poppins/woff/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/woff2/Poppins-SemiBold.woff2");
  src: url("../fonts/poppins/TTF/Poppins-SemiBold.ttf") format("truetype"),
    url("../fonts/poppins/woff/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/woff2/Poppins-Bold.woff2");
  src: url("../fonts/poppins/TTF/Poppins-Bold.ttf") format("truetype"),
    url("../fonts/poppins/woff/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/woff2/Poppins-ExtraBold.woff2");
  src: url("../fonts/poppins/TTF/Poppins-ExtraBold.ttf") format("truetype"),
    url("../fonts/poppins/woff/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/woff2/Poppins-Black.woff2");
  src: url("../fonts/poppins/TTF/Poppins-Black.ttf") format("truetype"),
    url("../fonts/poppins/woff/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
