@use "./variables" as *;
@use "./functions" as *;
@use "./mixins" as *;

.container {
  max-width: 1440px;
  margin-inline: auto;
  @media (max-width: 1460px) {
    padding-inline: px_to_rem(16);
  }
	//padding-inline: px_to_rem(16);
}

.even-columns {
	--min-width: 200px;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
}

textarea {
	resize: vertical;
}

input,
textarea {
	border: none;
	outline: none;
}

button,
::placeholder,
textarea {
  font-family: "Yekan Bakh";
}

a {
	text-decoration: none;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}

.mb-hide {
	@include mq('md') {
		display: none !important;
	}
}
.mb-flex {
	display: none;
	@include mq('md') {
		display: flex !important;
	}
}
span.meta {
	display: flex;
	align-items: center;
	gap: $s_1;
}
ul {
	list-style: none;
}
.paragraph {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	@include fs('h6');
}
img{
	object-fit:cover;
}
