@use "../utils/variables" as *;
@use "../utils/mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  font-family: "Yekan Bakh";
  background: $clr_bg_default;
  @include fs("body-s");
  color: $clr_primary_main;
  position: relative;

  @include mq("md") {
    font-size: 14px;
  }
}

html[lang="en-US"] body {
  font-family: Poppins;

  i span {
    font-family: Poppins;
  }

  input,
  textarea,
  select {
    font-family: Poppins;
    text-align: left;
  }
}

img {
  max-width: 100%;
  height: auto;
}

i span {
  font-family: Yekan Bakh;
}

input,
textarea,
select {
  font-family: Yekan Bakh;
  border: 0;
}

a {
  text-decoration: unset;
  color: unset;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

:focus-visible {
  outline: 0;
}

h1,
.h1 {
  @include fs("h1");
}
h2,
.h2 {
  @include fs("h2");
}
h3,
.h3 {
  @include fs("h3");
}
h4,
.h4 {
  @include fs("h4");
}
h5,
.h5 {
  @include fs("h5");
}
h6,
.h6 {
  @include fs("h6");
}

input,
textarea,
select {
  background: transparent;
  font-family: "Yekan Bakh";
  @include fs("body-s");
  @include mq("md") {
    font-size: 14px;
  }
}

::placeholder {
  color: $clr_primary_light;
}

input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: $clr_primary_dark;
    box-shadow: inset 0 0 20px 20px $clr_bg_default;
  }
}

select {
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
  }
}

a {
  color: unset;
  text-decoration: none;
}
input {
  direction: rtl;
}

.breadcrumb-wrapper {
  border-bottom: 1px solid $clr_natural_4;
  overflow-x: scroll;
  margin-bottom: $s_6;
  width: 100%;
  @include d_flex(column, flex-start, stretch, nowrap, false);
  &::-webkit-scrollbar {
    display: none;
  }
  > div {
    width: 100%;
    nav {
      p {
        color: $clr_text_light;
        margin-block: $s_5;
        @include d_flex(row, flex-start, center, nowrap, false, $s_3);
        @include fs("caption");
        .separator {
          @include d_flex(row, center, center, nowrap, false, $s_3);

          @include make_icon("\e87f") {
            font-family: "iconsax" !important;
            font-size: 20px;
          }
        }
        .last {
          color: $clr_text_dark;
        }
        a,
        span {
          min-width: max-content;
        }
      }
    }
  }
}
html[lang="en-US"] {
  .breadcrumb-wrapper {
    > div {
      nav {
        p {
          .separator {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
  #job-offer-form {
    .input-file::before {
      content: "Attach your resume";
    }
  }
  input {
    direction: ltr;
    text-align: start;
  }
  body {
    font-family: "poppins";
  }
  input {
    font-family: "poppins";
  }
  ::placeholder {
    font-family: "poppins";
  }
  button,
  textarea,
  i,
  span,
  select {
    font-family: "poppins";
  }
}
