@use "../utils/" as *;

.footer {
  background: $clr_primary_dark;
  color: $clr_accent_text;
  margin-block-start: 7.5rem;

  &__items {
    @include d_flex(row, space-between, center);
    padding-block: px_to_rem(44);

    @include mq("lg") {
      flex-direction: column;
      align-items: normal;
    }

    &__right {
      @include d_flex(row, space-between, flex-start, $gap: $s_8);

      @media (max-width: 635px) {
        justify-content: start;
      }

      @media (min-width: 635px) and (max-width: 802px) {
        gap: 0;
      }

      > div {
        min-width: 230px;

        @media (max-width: 786px) {
          min-width: 180px;
        }

        @media (max-width: 440px) {
          min-width: auto;
        }
      }

      .f-menu {
        > li {
          list-style: disc;
          margin-inline-start: 1rem;
          transition: $t_1;
          width: fit-content;

          &:hover {
            color: $clr_secondary_dark;
          }
        }
      }

      &__social-media {
        @include d_flex(column, $gap: $s_2);

        @media (max-width: 635px) {
          min-width: 100% !important;
        }

        &__items {
          @include d_flex(row, $gap: $s_4);

          @media (max-width: 635px) {
            min-width: 100%;
            justify-content: center;
          }

          .social-icon {
            @include d_flex(row, center, center);
            border-radius: 50%;
            background: $clr_text_contrast;
            width: $s_8;
            height: $s_8;
            transition: $t_1;

            &:hover {
              background: $clr_secondary_dark;

              path {
                fill: $clr_text_contrast;
                transition: $t_1;
              }
            }

            > i {
              @include d_flex();
            }
          }
        }

        .phone-number {
          transition: $t_1;
          @include fs("body-s");

          &:hover {
            color: $clr_secondary_dark;
          }
        }
      }
    }

    &__left {
      @include d_flex(row, center, center, $gap: $s_2);

      .enamad {
        @include mq("xs") {
          margin-block-start: $s_4;
        }
        img {
          max-width: 60px;
        }
      }

      img {
        max-width: 12.5rem;
        height: auto;
      }
    }
  }
}

html[lang="en-US"] body {
  .phone-number {
    font-family: Poppins;
  }
}

#scrolltotop {
  position: fixed;
  width: $s_12;
  height: $s_12;
  bottom: $s_6;
  right: $s_6;
  border-radius: 50%;
  border: none;
  background: $clr_secondary_dark;
  color: $clr_text_contrast;
  cursor: pointer;
  z-index: 999;
}
