@use "../utils/" as *;

.header {
  padding-block: $s_6;

  section {
    @include d_flex(row, space-between, center, nowrap);

    .right-header {
      @include d_flex(row, space-between, center, nowrap, $gap: $s_13);

      &__logo {
        img {
          max-width: 6.875rem;
          height: auto;
        }

        a {
          @include d_flex(row, center, center);
        }
      }

      &__menu {
        .header-menu {
          @include d_flex($gap: $s_4);
          li {
            position: relative;
            > a {
              color: $clr_gray_text;
              @include fs("body-s");
              position: relative;
              display: block;

              &::before {
                content: "";
                display: block;
                position: absolute;
                border-radius: 1.25rem;
                top: $s_9;
                left: 0;
                height: 2px;
                width: 100%;
                background: $clr_dark_text;
                transform-origin: right top;
                transform: scale(0, 1);
                transition: color 0.1s, transform 0.2s ease-out;
              }

              &:active::before {
                background-color: $clr_dark_text;
              }

              &:hover::before,
              &:focus::before {
                transform-origin: left top;
                transform: scale(1, 1);
              }

              &:hover {
                color: $clr_dark_text;
              }
            }

            &.menu-item-has-children {
              @include make_icon("\eb75");

              ul {
                display: none;
                position: absolute;
                background: $clr_bg_default;
                border: $b_1;
                min-width: 360px;
                top: $s_10;

                li {
                  > a {
                    padding: $s_4;
                    border-bottom: 1px solid $clr_border_light;

                    &:hover {
                      background: $clr_bg_paper;
                    }

                    &::before {
                      display: none;
                    }
                  }

                  &:last-child a {
                    border-bottom: none;
                  }
                }
              }
            }
          }

          li.current_page_item a {
            &::before {
              transform-origin: left top;
              transform: scale(1, 1);
              background-color: $clr_dark_text;
            }
            color: $clr_dark_text;
          }
        }
      }
    }

    .left-header {
      @include d_flex(row, center, center, $gap: $s_2);

      &__login-btn {
        @include d_flex($j_c: center, $a_i: center);
        border: $b_1;
        padding: $s_2 $s_2;
      }

      &__search-btn {
        @include d_flex($j_c: center, $a_i: center);
        border: $b_1;
        padding: $s_2 $s_2;
      }

      &__cart-btn {
        @include d_flex($j_c: center, $a_i: center, $gap: $s_1);
        padding: $s_1 $s_4;
        @include fs("body-s");
      }
    }
  }
}
