@use "../utils" as *;

.pagination {
  display: flex;
  gap: $s_3;
  margin-block-start: 1rem;
  .page-numbers {
    border: $b_3;
    line-height: 0;
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.current {
      border: $b_6;
    }
  }
}
