@use "../../utils/" as *;
#job-offer-form {
  @include d_flex(column, flex-start, stretch, nowrap, false, $s_5);

  .input-primary {
    @include d_flex(row, flex-start, flex-start, nowrap, false, $s_2);
    i {
      color: $clr_text_light;
    }
    width: 100%;
    input {
      flex: 1;
    }

    textarea {
      min-width: 96%;
    }
  }
  button {
    @include d_flex(row, center, center, nowrap, false, $s_2);

    align-self: flex-end;
    @include make_icon("\e806") {
      font-family: "iconsax" !important;
      font-size: 20px;
    }
  }
  .input-file {
    justify-content: space-between;
    align-items: center;
    &::before {
      content: "رزومه خود را پیوست کنید";
    }
    i {
      color: $clr_accent_dark;
    }
  }
}
