@font-face {
	font-family: 'Yekan bakh';
	src: url(../fonts/yekan-bakh/woff/YekanBakhFaNum-Medium.woff);
}

*:not(i, .ab-icon) {
	font-family: 'Yekan bakh' !important;
}

*::before,
*::after {
	font-family: dashicons;
}

.user-profile-picture {
	display: none;
}

#information table {
	border-spacing: 0.25rem;
	width: 100%;
}

#information td {
	padding: 0.5rem;
	border: 1px solid #ddd;
}
