@use "../utils/" as *;
main.alert-login-page {
  .form-wrapper {
    .dynamic-section {
      display: none;
      &.active {
        display: block;
      }
    }
    button {
      align-self: flex-start;
      @include d_flex(row, center, center, nowrap, false, $s_1);
    }
    .btn-edit-number {
      color: $clr_accent_dark;
      cursor: pointer;
    }
  }
  .welcome-section {
    width: 100%;
    .button-group {
      width: 100%;
      @include d_flex(row, flex-start, center, nowrap, false, $s_1);
      @include mq("sm") {
        @include d_flex(row, stretch, center, nowrap, true, $s_1);
        a {
          text-align: center;
        }
      }
    }
  }
}
