@use "../utils/" as *;
main.all-blogs-page {
  .blogs-wrapper {
    display: grid;
    justify-content: stretch;
    grid-template-columns: repeat(auto-fill, minmax(px_to_rem(352), 1fr));
    gap: px_to_rem(12) px_to_rem(16);
    .blog-container {
      @include d_flex(column, flex-start, stretch, nowrap, false, $s_3);
      .post-thumbnail {
        img {
          height: px_to_rem(300);
          object-fit: contain;
          @include mq("sm") {
            height: px_to_rem(200);
          }
        }
      }
      .postmeta-r {
        @include d_flex(row, flex-start, center, nowrap, false, $s_3);
        color: $clr_primary_main;
        @include fs("caption");
        padding-bottom: $s_3;
      }
      .post-detail {
        > h5 {
          padding-top: $s_3;
          color: $clr_text_dark;
        }
      }
    }
    @include mq("md") {
      @include d_flex(column, flex-start, stretch, nowrap, false, $s_3);
      .blog-container {
        @include d_flex(row, space-between, center, nowrap, false, $s_3);
        .post-thumbnail {
          width: 30%;

          img {
          }
        }
        .post-detail {
          flex: 1;
          .postmeta {
            border-bottom: none;
          }
          .paragraph {
            display: none;
          }
        }
      }
    }
  }
}
