@use "../utils/" as *;
main.contact-us-page {
  display: flex;
  padding-block-start: $s_6;

  .container {
    @include d_flex(row-reverse, space-between, center, nowrap, true, $s_2);
    @include mq("md") {
      gap: $s_4;
    }

    > div {
      width: 50%;
      @include d_flex(column, center, center);

      > div {
        min-width: 100%;
      }
    }

    @include mq("md") {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      > div {
        width: 100%;
      }
    }
  }
  .title {
    margin-bottom: $s_2;
    color: $clr_primary_dark;
    @include fs("h2");
  }

  .form-wrapper {
    button {
      align-self: flex-end;
      @include d_flex(row-reverse, center, center, nowrap, false, $s_1);
      @include make_icon("\e806") {
        font-family: "iconsax" !important;
        font-size: 20px;
      }
    }
  }
}

.phone {
  margin-block-start: $s_2;
  @include d_flex(column, $gap: $s_1);
}

html[lang="en-US"] {
  #contact-us-form input,
  #contact-us-form textarea {
    direction: ltr;
    text-align: start;
  }
}
