@use '../utils' as *;

.pricing {
	margin-block: 2rem; //@dev

	@include d_flex(row, center, flex-start, nowrap, true);

	h4 {
		margin-block-start: $s_6;
	}

	&-wrapper {
		@include d_flex(column, $gap: $s_3);
	}

	&-content {
		&-title {
			@include fs('h2');
		}

		&-description {
			@include fs('h6');

			a {
				color: $clr_accent_dark;
			}
		}
	}

	&-image {
		position: sticky;
		top: 0;
	}

	&-form {
		&-submit {
			@include d_flex(row, flex-end);
			margin-block-start: $s_3;
			.btn {
				padding: $s_2 $s_4;
			}
		}
	}

	&-collapse {
		display: grid;
		grid-template-rows: 0fr;
		transition: 0.3s ease-in-out;

		> div {
			overflow: hidden;
		}

		&[data-active='true'] {
			grid-template-rows: 1fr;

			+ .pricing-collapse-handle {
				i {
					transform: rotate(180deg);
				}
			}
		}

		&-handle {
			cursor: pointer;
			color: $clr_accent_dark;
			margin-block-start: $s_2;
			@include d_flex(row, flex-start, center, $gap: $s_1);

			i {
				transition: transform 0.3s ease;
			}
		}
	}
}
