@use '../utils/' as *;
main.product-page {
  .products-container {
    .category-and-search {
      @include d_flex(row, center, stretch, nowrap, false, $s_4);
      @include mq('md') {
        flex-direction: column;
      }
    }
  }
  .products-wrapper {
    display: grid;
    justify-content: stretch;
    grid-template-columns: repeat(auto-fill, minmax(px_to_rem(352), 1fr));
    gap: px_to_rem(12) px_to_rem(16);
    @include mq('md') {
      grid-template-columns: repeat(auto-fill, minmax(px_to_rem(200), 1fr));
    }
    @include mq('sm') {
      grid-template-columns: repeat(auto-fill, minmax(px_to_rem(152), 1fr));
    }
  }
}
