@use "../utils" as *;

main.single-post-page {
  .single-blog {
    @include d_flex(row, start, start, nowrap, false, $s_4);
    @include mq("md") {
      flex-direction: column;
    }
    .post-main {
      width: 75%;
      @include mq("md") {
        width: 100%;
      }
      .post-content {
        width: 100%;
        img {
          @include mq("md") {
            width: 100% !important;
            padding: 0 !important;
          }
        }
        p {
          text-align: justify;
        }
      }
      .post-images img {
        width: 100%;
        height: 475px;
        object-fit: contain;
      }
      img.alignnone {
        padding: $s_4;
        width: 50%;
        height: 320px;
        @include mq("md") {
          width: 100%;
          padding: 0;
        }
      }
      img.alignleft {
        width: 500px;
        height: 350px;
        float: left;
        padding-right: $s_3;
      }
      img.aligncenter {
        width: 100%;
      }
    }
  }
  img {
    object-fit: cover;
  }

  .mb-meta {
    font-size: 12px;
    gap: $s_12;

    .meta-date,
    .meta-author {
      @include d_flex(row, center, center, $gap: $s_1);
    }
  }

  .blog-comments {
    width: 100%;
  }

  @include mq("md") {
    flex-direction: column;
    align-items: stretch;

    .single-blog {
      @include d_flex($dir: column);
    }
  }
}
.postmeta {
  @include d_flex($j_c: space-between);
  line-height: $s_9 !important;
  @include fs("caption");
  border-bottom: $b_3;
  color: $clr_primary_main;
  div {
    @include d_flex(row, start, center, $gap: $s_4);
  }
  @include mq("md") {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    div {
      width: 100%;
    }
  }
}
