@use '../utils/' as *;
main.single-job-offer-page {
  .job-detail-container {
    .job-thumbnail-and-description {
      @include d_flex(row, space-between, center, nowrap, true, $s_3);

      .job-thumbnail {
        img {
          height: auto;
          max-height: px_to_rem(360);
          width: 100%;
          object-fit: cover;
        }
      }
      .job-description-and-title {
        @include d_flex(column, flex-start, stretch, nowrap, false, $s_3);

        h2 {
          color: $clr_text_dark;
        }
        .about-job {
          text-align: justify;
        }
      }
      @include mq('md') {
        flex-direction: column;
        .job-thumbnail {
          width: 100%;
        }
        .job-description-and-title {
          h2 {
            align-self: center;
          }
        }
      }
    }
  }
  .job-offer-send-request {
    .form-wrapper {
      @include d_flex(row, center, flex-start, nowrap, false);
      width: 100%;
      .input-primary {
        &.input-file {
          position: relative;

          i {
            @include d_flex(row, center, center, nowrap);
          }
        }
      }
      #job-offer-form {
        width: 50%;
        @include mq('md') {
          width: 100%;
        }

        #job-offer-form-submit {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
